 <div class="picture">
  	<img src="https://s-media-cache-ak0.pinimg.com/736x/ff/06/2e/ff062e98c802f5c794fa99cead248d52.jpg">
  	<div class="own_eye1"></div>
  	<div class="own_eye2"></div>
 </div>

<style type="text/css">
body{
	background-color: #e6d5b9;
}

 .picture{


 	position: relative;
 	left: 30%;

 	

 }
 img{
 	position: absolute;
 }
 div>div{
border-radius: 50%;

width: 32px;
height: 32px;
background-color: black;
position: absolute;
 }
 .own_eye1{
 		
top: 222px;
left: 225px;
animation: own_eye1 5s ease infinite;
 }

 .own_eye2{

top: 222px;
left: 343px;
animation: own_eye2 5s ease infinite;
 }

 @keyframes own_eye1{
 	0%,100%{left: 225px}
 	50%{left: 265px;}
 }
  @keyframes own_eye2{
 	0%,100%{left: 343px}
 	50%{left: 383px;}
 }
</style>